[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
autopep8 = "*"

[packages]
robotframework = "*"
robotframework-debuglibrary = "*"
robotframework-seleniumlibrary = "*"
selenium = "*"
hvac = "*"
rpaframework = "*"
mongoengine = "==0.22.1"
pandas = "*"
xlsxwriter = "*"

[requires]
python_version = "3.8"

[scripts]
robot ="robot -V Variables/config.py -d Outputs --loglevel INFO -P ./ Tasks/consulta_cnpj.robot"
